@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");

/* Navbar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

html {
  font-size: 62.5%;
  background: #121212;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

#home {
  background-color: #121212;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 5.5rem;
  background-color: #121212;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: whitesmoke;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: ease-in-out 0.3s;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: white;
}

.nav-link:hover {
  text-decoration: underline;
  text-decoration-color: #fcba03;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  transition: all 0.1s;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: bolder;
  color: #fcba03;
}

/* Home */

#home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: start;
  align-items: center;
  overflow-x: hidden;
}

#home .container {
  width: 100%;
  display: grid;
  grid-template-columns: 10rem 3fr 3fr 10rem;
  padding: 0;
}

#home .container .left {
  margin-top: 100px;
}

.left {
  grid-column: 2/3;
}

.right {
  display: flex;
  justify-content: start;
  align-items: center;
}

.white {
  color: whitesmoke;
  font-size: 2rem;
}

.left .title {
  color: #fcba03;
  font-size: 10rem;
  letter-spacing: -2px;
  justify-content: start;
  align-items: center;
}

.left .desc {
  font-size: 2.3rem;
  color: #fcba03;
  margin-top: 1rem;
}

.left .btn {
  grid-column: 2/3;
  margin-top: 20px;
  width: 150px;
  height: 50px;
  border: solid 1px #fcba03;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #fcba03;
  transition: ease-in 0.3s;
}

.btn {
  width: 100px;
  height: 35px;
  border: solid 1px #fcba03;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #fcba03;
  transition: ease-in 0.3s;
}

.btn .btn-title {
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
}

.btn:hover {
  background-color: #fcba03;
  color: #121212;
}

.image {
  grid-column: 2/3;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: start;
  align-items: center;
}

img {
  width: 500px;
  background-color: transparent !important;
}

/* What */
#what {
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #121212;
}

#what h1 {
  background-color: transparent;
  font-size: 3rem;
}

#what .what-is {
  margin-bottom: 100px;
}

#what .text {
  font-size: 6rem;
}

#what .container {
  width: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: 10rem 1fr 1fr 1fr 10rem;
  position: relative;
}

#what .container .left {
  background-color: transparent;
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#what .container .middle {
  background-color: transparent;
  grid-column: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
}

#what .container .right {
  background-color: transparent;
  grid-column: 4/5;
  display: flex;
  justify-content: center;
  align-items: center;
}

#what .left-info {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: transparent;
  /* margin-bottom: 20px; */
}

#what img {
  width: 300px;
}

/* What End */

/* Create Acc */
#create-acc {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #121211;
  color: white;
}

#create-acc .container {
  width: 100%;
  display: grid;
  grid-template-columns: 10rem 3fr 3fr 10rem;
  padding: 0;
}

#create-acc .container .left .title {
  font-size: 6rem;
  line-height: 0.9;
}

#create-acc .container .left .info {
  margin-top: 20px;
  font-size: 2rem;
}

/* Media Query */
@media only screen and (max-width: 768px) {
  #home {
    display: block !important;
  }

  #home .container {
    padding-top: 3rem;
  }

  .navbar {
    padding: 1rem 1.5rem;
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 4.5rem;
    flex-direction: column;
    background-color: #121212;
    width: 100%;
    text-align: center;
    z-index: 1;
  }

  .nav-menu.active {
    left: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .nav-item {
    margin: 2.5rem 0;
    z-index: 2;
  }

  .nav-link {
    color: white;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  #home .container {
    grid-template-columns: 3rem 1fr 1fr 3rem !important;
  }
  #what .container {
    /* grid-template-columns: 3rem 1fr 1fr 3rem !important; */
    padding-bottom: 20px;
  }
  #create-acc .container {
    grid-template-columns: 3rem 1fr 1fr 3rem !important;
    margin-top: auto;
  }

  #create-acc .container .left .title {
    font-size: 4rem !important;
    padding-right: 20px;
  }

  #create-acc .right img {
    width: 400px !important;
  }

  .left {
    grid-column: 2/5 !important;
  }

  .left .title {
    font-size: 7rem !important;
  }

  img {
    margin-top: 50px !important;
    width: 400px !important;
  }

  #what .container .left {
    grid-column: 2/5;
  }
  #what .container .middle {
    grid-column: 2/5;
  }
  #what .container .right {
    grid-column: 2/5;
  }

  #what img {
    width: 300px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  #what .what-is {
    margin-bottom: 0;
    margin-top: 50px;
  }

  #what .text {
    font-size: 3rem;
  }

  #create-acc img {
    margin-top: 100% !important;
  }
}
